#nissuu h2, #nissuu h3{font-size:180%;}
#nissuu ol.issuu-list li{
	line-height:2em;
	list-style: none;
	border-bottom:1px solid #DDD;
}
#nissuu li a.issuu-view{
	color:#666;
	text-decoration:none;
	margin:.5em;
	border:none;
}
#nissuu li a.issuu-view img{margin:20px;border:1px solid #999;padding:10px;background-color:white;}
#nissuu li.issuu-selected,
#nissuu li:hover{background:#F3F3F3;}
#nissuu li.issuu-selected a.issuu-view,
#nissuu li.issuu-selected a.issuu-view:visited,
#nissuu li:hover a{
	color:#999;
	text-decoration:none;
	
}
p.nissuu-no-pdf-message{background:#FFFFDD; color:black;padding:0.5em;}